*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

#background-video{
    position:absolute;
    z-index:-10;
    min-height: 100%;

    top:0;  
    left:0;  
    right:0;  
    bottom:0;
    
}
.banner{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    padding:0;
    margin:0;
    left: 0px;
    top: 0px;
    overflow:hidden;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.5),rgba(0,0,0,0.75));
}

.neon-light{
    width: 15px;
    height: 100px;
    background: #fff;;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 40px 5px #fff,
    inset 0 0 20px #fff,
    0 0 160px 20px #08f,
    inset 0 0 20px #08f,
    0 0 320px 30px #08f,
    inset 0 0 20px #08f; 
    animation: run 5s linear infinite;
    display: inline-block;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: larger;
    line-height: 40px;
    color: #ecf0f1;
}
.content__container {
    font-weight: 600;
   
    height: 40px;
    padding: 0 40px;
}
.content__container:before {
    content: '[';
    left: 0;
}
.content__container:after {
    content: ']';
    position: absolute;
    right: 0;
}
.content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 1.5vw;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.content__container__text {
    
    float: left;
    margin: 0;
}
.content__container__list {
    display: block;
    margin-top: 0;
    padding-left: 55px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


.content__container__list__item{
    line-height: 40px;
    margin: 0;
}


/* MEDIA */




@keyframes run {
    0%{
        left: 10%;
        opacity: 0;
    }
    2%{
        left: 10%;
        opacity: 1;
    }
    4%{
        left: 10%;
        opacity: 0;
    }
    6%{
        left: 10%;
        opacity: 1;
    }
    6%{
        left: 10%;
        opacity: 0;
    }
    10%{
        left: 10%;
        opacity: 1;
    }
    100%{
        left: 90%;
        opacity: 1;
    }
  
}


@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-webkit-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}
@-o-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-o-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}
@-moz-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-moz-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}
@keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}





@media (max-width: 823px) {
    #background-video {
        display: none;
    }   
    .banner{
        z-index: -10;
        background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../background/back.jpg);
    }
    .content__container__list__item{
        font-size: 3.5vw;
        line-height: 100%;
        margin: 12%;
        
    }
    .about-con{
        display: block;
    }
    .left{
        margin-top: 40px;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        background: #08f;
        flex: 0 0 80%;
        max-width: 90%;   
       
    }
    
    
    
    
}